<header>
    <h1>Centro Médico Felicidad</h1>
</header>
<main>
    <h2>Agendamiento de citas</h2>
    <div class="container-form">
        <form method="post" action="/agregar-cita">
            <label for="cedula">Número de cedula:</label>
            <input type="number" id="cedula" name="cedula" required>
            <label for="fecha_cita">Fecha de cita medica:</label>
            <input type="date" id="fecha_cita" name="fecha_cita" required>
            <label for="medico">Especialista:</label>
            <select name="medico" id="medico" required>
                <option value="">----------Seleccione una opcion-----------</option>
                {{#each resultado}}
                    <option value="{{cedula}}">{{nombres}} {{apellidos}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Enviar">
        </form>
        <a href="../index.html"><input type="button" value="Volver"></a>
    </div>
</main>
<footer>
    <h2>Elaborado por:</h2>
    <p><b>Vanesa Lineros</b></p>
    <p><b>Desarrolladora Web Junior</b></p>
</footer>